<div id="fullpage">

	<div class="section" id="hero">
		<div class="row">
			<div class="large-12 columns">
				<h1 class="text-center">
					Automate Your Infrastructure
				</h1>
			</div>
		</div>
	</div>
	<div class="section" id="articles">
		{{ range where .Data.Pages "Type" "articles" }}
		<div class="slide" id="foo">
		{{ .Render "slide" }}
		</div>
		{{ end }}
	</div>
	<div class="section" id="services">
		{{ range where .Data.Pages "Type" "services" }}
		<div class="slide">
		{{ .Render "slide" }}
		</div>
		{{ end }}
	</div>

</div>

