<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ .Site.BaseURL }}/foundation/css/normalize.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/foundation/css/foundation.css">

<link rel="stylesheet" href="{{ .Site.BaseURL }}/app.css">


<title>
	{{ .Site.Title }}
</title>

{{/* Per Zurb example, only this JS file is loaded in header; others are
loaded at end of body. */}}
<script src="{{ .Site.BaseURL }}/foundation/js/vendor/modernizr.js"></script> 

<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/jquery.fullPage-2.7.4.css" />

