.section {
	background-repeat: no-repeat;
	background-size: cover;
}

#hero {
	background-image: url(img/dtla.jpg);
}

#hero h1 {
	color: white;
	font-size: 5rem;
}

#services h1, #articles h1 {
	font-size: 4rem;
}

h1,h2,h3,h4 {
	font-family: crimson-text, serif;
}

#articles {
	background-color: #75c9a5;
}

#services {
	background-color: #c9a575;
}
